<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <h1>Select Login Option</h1>

    <div class="auth-options">
        <a href="{{url_for('student.index')}}">
            <span>
                Go to student login
            </span>
        </a>
        <a href="{{url_for('staff.index')}}">
            <span>
                Go to staff login
            </span>
        </a>
    </div>
</body>
</html>